@import url('https://fonts.googleapis.com/css2?family=Overpass:ital,wght@0,100..900;1,100..900&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


.logo {
    cursor: pointer;
    height: 60px;
}

.navlink {
    text-align: right;
    vertical-align: middle;
}

.navlink li {
    display: inline-block;
    padding: 0px 15px;
}
  
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 2%;
    width: 100%;
    min-height: 10vh;
    max-height: auto;
    background-color: #fafafa;
    border: 1px solid #dce0e3;

    font-family: "Overpass", sans-serif;
    font-weight: 500;
    font-size: 15px;
    color: #000000;
    text-decoration: none;
}
  
li {
    display: inline;
    padding: 10px;
}

#welcome-section {
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 50vh;
    background-color: #ffffff;
    border-bottom: 1px solid #dce0e3;

    font-family: "Overpass", sans-serif;
    font-weight: 50;
    font-size: 45px;
    color: #000000;
    text-decoration: none;
}

#showcase {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 50vh;
    background-color: #edd39d;
    border-bottom: 1px solid #dce0e3;
    transition: background-color 0.3s ease;
}

.avcontainer, .webcontainer {
    width: 50%;
    margin: auto;
    position: relative;
    background-color: transparent;
    transition: background-color 0.3s ease;
}

.avcontainer:hover, .webcontainer:hover {
    background-color: grey;
}


/*
.profession {
    border-radius: 0;
    border:none;
    background-color: transparent;
    transition: background-color 0.3s ease;
}

.profession:hover {
    color: skyblue;
}
*/
.imgtext {
    position: absolute;
    padding: 25vh 5vh;
    font-family: "Overpass", sans-serif;
    font-size: 15vh;
    font-weight: 800px;
    color: #ffffff;
    white-space: nowrap;
}

.web {
    max-height: 50vh;
    border: none;
    float: left;
}

.av {
    max-height: 50vh;
    border: none;
    float: right;
}

#projects {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    width: 100%;
    border-bottom: 1px solid #dce0e3;
}

#dabomb {
    width: 100%;
    object-fit: fill;
    visibility: hidden;
}

#contact {
    width: 100%;
    background-color: #ffffff;
}
  
@media only screen and (max-width: 600px) {
    body {
        background-color: lightblue;
    }
}