* {
    margin: 0;
    padding: 0;
}

#navbar {
    display: flex;
    justify-content: end;
    padding: 3%;
}
  
header {
    position: sticky;
    width: 100%;
    height: 10vh;
    background-color: #fafafa;
    border: 1px solid #dce0e3;
}
  
li {
    display: inline;
    padding: 10px;
}

#welcome-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 50vh;
    background-color: #ffffff;
    border-bottom: 1px solid #dce0e3;
}

#showcase {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: start;
    width: 100%;
    height: 50vh;
    background-color: #ffffff;
    border-bottom: 1px solid #dce0e3;
}

.profession {
    margin: 5vh 2vh;
    padding: 10px;
    min-width: 100px;
    min-height: 40px;
    border-radius: 0;
    border:none;
    background-color: transparent;
    transition: background-color 0.3s ease;
}

.profession:hover {
    background-color: skyblue;
    border: 1px solid #fafafa;
}

#projects {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    width: 100%;
    border-bottom: 1px solid #dce0e3;
}

#dabomb {
    width: 100%;
    height: auto;
}

#contact {
    width: 100%;
    background-color: #ffffff;
}
  
@media only screen and (max-width: 600px) {
    body {
        background-color: lightblue;
    }
}